@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 53 67% 92%;
    --foreground: 20 14% 15%;
    --card: 53 60% 96%;
    --card-foreground: 20 14% 15%;
    --popover: 53 60% 96%;
    --popover-foreground: 20 14% 15%;
    --primary: 56 100% 62%;
    --primary-foreground: 20 14% 15%;
    --secondary: 197 71% 80%;
    --secondary-foreground: 20 14% 15%;
    --muted: 53 67% 88%;
    --muted-foreground: 20 14% 35%;
    --accent: 197 71% 73%;
    --accent-foreground: 20 14% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 56 100% 85%;
    --input: 56 100% 85%;
    --ring: 197 71% 73%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 76% 10%;
    --foreground: 53 67% 92%;
    --card: 224 76% 15%;
    --card-foreground: 53 67% 92%;
    --popover: 224 76% 15%;
    --popover-foreground: 53 67% 92%;
    --primary: 56 100% 62%;
    --primary-foreground: 20 14% 15%;
    --secondary: 197 71% 73%;
    --secondary-foreground: 20 14% 15%;
    --muted: 224 76% 20%;
    --muted-foreground: 53 67% 80%;
    --accent: 197 71% 65%;
    --accent-foreground: 20 14% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 20%;
    --input: 224 76% 20%;
    --ring: 197 71% 73%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}
